<div class="card">
  <h2 class="card-header">Create New Post</h2>
  <form class="card-body" id="newPost">
    <input type="hidden" name="postId" value="{{post.id}}"/>
    {{!-- 

 --}}
    <div>
      <label class="form-label">Title:</label>
      <input class="form-input" id="title" type="text" name="title"/>
    </div>
    <div>
      <label class="form-label">Content:</label>
      <textarea class="form-textarea form-input" id="body" name="content" data-number="8"></textarea>
    </div>
 {{!-- 

 --}}
    <button class="btn btn-primary">Create</button>
  </form>
</div>
<script src="/js/new.js"></script>